img {
    width:30%;
    margin:1.40%;/* we can use calc(10/6)*/
    
}
nav {
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    width:50%;
    margin-left:1.40%;
    padding: 1.5em 0;
    font-family: Raleway, sans-serif;
    font-size: 1.5em;


}